<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rümpeltum - Datenbank</title>
  <link rel="shortcut icon" type="image/x-icon" href="../images/static/icon.ico">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link rel="stylesheet" type="text/css" href="../css/styles-dash-board.css">
  <link rel="stylesheet" type="text/css" href="../css/styles-dash-board-events.css">
</head>
<body>
  <div class="content">
    <p>Events</p>
    <div class="navbar">
      <a href="/dash-board/events">Events</a>
      <a href="/dash-board/infos">Infos</a>
    </div>
    <div class="sub-content">
      <div class="month-list">
        <ul>
          <li><a href="/dash-board/events/january">Januar</a></li>
          <li><a href="/dash-board/events/february">Februar</a></li>
          <li><a href="/dash-board/events/march">März</a></li>
          <li><a href="/dash-board/events/april">April</a></li>
          <li><a href="/dash-board/events/may">Mai</a></li>
          <li><a href="/dash-board/events/june">Juni</a></li>
          <li><a href="/dash-board/events/july">Juli</a></li>
          <li><a href="/dash-board/events/august">August</a></li>
          <li><a href="/dash-board/events/september">September</a></li>
          <li><a href="/dash-board/events/october">Oktober</a></li>
          <li><a href="/dash-board/events/november">November</a></li>
          <li><a href="/dash-board/events/december">Dezember</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-buttons">
      <a href="/logout">ABMELDEN &#9763;</a>
    </div>
  </div>
</body>
</html>
