<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rümpeltum - Datenbank</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/static/icon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/styles-index.css">
</head>
<body>
  <div class="container">
    <h1>Rümpeltum<br>Datenbank</h1>
    <form action="/" method="POST">
      <input type="text" name="username" placeholder="Nutzername" required maxlength="25">
      <input type="password" name="password" placeholder="Passwort" required maxlength="25">
      <button type="submit">LOGIN</button>
    </form>
  </div>
</body>
</html>
