<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rümpeltum - Datenbank</title>
  <link rel="shortcut icon" type="image/x-icon" href="../images/static/icon.ico">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link rel="stylesheet" type="text/css" href="../css/styles-dash-board.css">
  <link rel="stylesheet" type="text/css" href="../css/styles-dash-board-infos.css">
</head>
<body>
  <div class="content">
    <p>Infos</p>
    <div class="navbar">
      <a href="/dash-board/events">Events</a>
      <a href="/dash-board/infos">Infos</a>
    </div>
    <div class="sub-content">
      <div class="scroll-text">
        <p>
          Hallo Welt! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id pharetra velit. Morbi tincidunt in mauris in tincidunt. Fusce nec justo vel massa scelerisque bibendum. Suspendisse nec massa arcu. Nullam eget ex sit amet nulla gravida rutrum. In euismod massa in nunc bibendum euismod. Integer id augue eu nibh congue tincidunt vitae a tellus. In cursus arcu non quam tincidunt luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="nav-buttons">
      <a href="/logout">ABMELDEN &#9763;</a>
    </div>
  </div>
</body>
</html>
