<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rümpeltum - Infos</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/static/icon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/styles-infos.css">
  </head>
  <body>
    <div class="title-img">
      <a href="/">
        <img src="images/static/title_image.png" alt="Titelbild kann nicht geladen werden :,(º">
      </a>
    </div>
    <div class="pattern">
      <% for (let i = 1; i <= 180; i++) { %>
        <img src="images/static/pattern.jpg" alt="No pattern found.">
      <% } %>
    </div>
    <nav>
      <div class="navbar">
        <div>
          <a href="/aktuell">Aktuell</a>
        </div>
        <div>
          <a href="/bald">Bald</a>
        </div>
        <div>
          <a href="/infos">Infos</a>
        </div>
      </div>
    </nav>
    <div class="pattern">
      <% for (let i = 1; i <= 180; i++) { %>
        <img src="images/static/pattern.jpg" alt="No pattern found.">
      <% } %>
    </div>
    <main>
      <header>
        <h1>Infos</h1>
      </header>
      <section>
        <div class="infos">
          <div class="vokue">
            <img src="images/static/vokue.jpg" alt="No image found.">
          </div>
          <div>
            <h2>Wegbeschreibung</h2>
            <p>Rümpeltum<br>kontakt@rumpeltum.ch<br>Bachstrasse 36<br>9008 St. Gallen</p>
          </div>
          <div>
            <h2>Veranstalten im Rümpeltum</h2>
            <div>
              <p>Wenn du was machen willst, melde dich an der Bar oder schreibe uns über <a href="mailto:kontakt@rumpeltum.ch">kontakt@rumpeltum.ch</a></p>
            </div>
            <h3><u>Allgemeines</u></h3>
            <ul>
              <li>Auf Flyer und Plakaten muss irgendwo Privatanlass stehen.</li>
              <li>Eintritt darf nicht über 15 Fr. sein.</li>
              <li>Bar übernimmt immer das Rümpeltum.</li>
              <li>Das Rümpeltum muss geputzt Rübergeben werden.</li>
              <li>Weiteres nach Absprache…</li>
            </ul>
            <h3><u>Kosten</u></h3>
            <ul>
              <li>50 Fr. Raummiete</li>
              <li>150 Fr. Depot (Gibt’s zurück sobald das Rümpeltum sauber geputzt übergeben wird)</li>
            </ul>
            <h3><u>Anlage</u></h3>
            <p>100 Fr. (inkl. Mischer und Mikrofone)</p>
            <h3><u>PA:</u></h3>
            <ul>
              <li>HK Projector 2*1800W</li>
              <li>Soundcraft Spirit 24-Kanal Analog-Pult</li>
              <li>3-Band EQ</li>
              <li>4 Aux-Wege (2*Pre, 2*Post)</li>
              <li>2* 31 Band Graphic-EQ</li>
              <li>2 Weg Monitor (2* 100W)</li>
            </ul>
            <h3><u>Weiteres: </u></h3>
            <ul>
              <li>Div. Mikrofone</li>
                <ul>
                  <li>2*SM 58</li>
                  <li>1*SM 57</li>
                  <li>1*PG81(Kondensor)</li>
                  <li>1*BG 3.0</li>
                  <li>2*XM18005</li>
                  <li>1*XM8500</li>
                  <li>1*Kick (Sennheiser)</li>
                  <li>1*Sennheiser Kondensor MD 402-U</li>
                  <li>2*Audio Technico AE 5100 (Kondensor)</li>
                  <li>1*Alto AM8</li>
                  <li>1*AKG D15</li>
                </ul>
            </ul>
            <ul>
              <li>2*MK 2 Plattenspieler: je 15 Fr. (ohne Nadeln)</li>
              <li>2er Dj CD Player : 30 Fr.</li>
            </ul>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer">
          <hr>
          <h3>Rümpeltum Kollektiv &#9773;</h3>
        </div>
      </footer>
    </main>
  </body>
</html>
