<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rümpeltum - Datenbank</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../images/static/icon.ico">
  <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../css/styles.css">
  <link rel="stylesheet" type="text/css" href="../../css/styles-dash-board.css">
</head>
<body>
  <div class="content">
    <p>Dezember</p>
    <div class="navbar">
      <a href="/dash-board/events">Events</a>
      <a href="/dash-board/infos">Infos</a>
    </div>
    <div class="sub-content">
      test
    </div>
    <div class="nav-buttons">
      <a href="/logout">ABMELDEN &#9763;</a>
    </div>
  </div>
</body>
</html>
